@media (orientation: portrait) {

    * {
        font-family: Verdana;
    }

    #div-main {
        padding-top: 2%;
        margin: 0 auto;
        width: 90vw;
    }

    #table-main, #canvas-main {
        margin: 0 auto;
        padding: 1%;
    }

    #div-table, #div-canvas {
        clear: both;
    }

    #canvas-main {
        display: block;
        padding: 3%;
        background-color: black;
    }

    .table-content {
        font-size: 32px;
    }

    .table-header {
        font-weight: bold;
        text-align: center;
        font-size: 35px;
    }

    td {
        padding: 7px 10px;
    }

    input {
        width: 80px;
        font-size: 25px;
        margin: 0 auto;
    }

    #div-delimeter {
        height: 3%;
    }

    .button-more-less {
        height: 40px;
        width: 40px;
        font-size: 30px;
        text-align: center;
    }
}
